@charset "UTF-8";

@media (max-width:1025px) {
    .content-singin{
        flex-flow: row-reverse wrap;
    }
    #content-singin-part1{
        border: none;
    }
}

@media (max-width:1203px) {
    #isearch{
        width: 40rem;
    }
}

@media (max-width:1103px) {
    #isearch{
        width: 30rem;
    }
}

@media (max-width:1003px) {
    #isearch{
        width: 20rem;
    }
}

@media (max-width:938px) {
    #content-main{
        columns: 2;
    }
}

@media (max-width:909px) {
    .content-singin{
        flex-flow: column wrap;
        gap: 0;
    }
    #content-singin-part1, #content-singin-part2{
        margin-top: 0rem;
    }
    #singin-img img{
        width: 300px;
    }
}

@media (max-width:903px) {
    #search{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    #isearch{
    height: 3.5rem;
    }
    #title-search{
    height: 4rem;
    width: 100%;
    } 
}

@media (max-width:820px) {
    #title-logo{
        display: none;
    }
}

@media (max-width:640px) {
    #search{
        display: none;
    }
}

@media (max-width:629px) {
    #content-main{
        columns: 1;
    }
}

@media (max-width:529px) {
    #singin-img img{
        width: 200px;
    }
}

@media (max-width:435px){
    #account{
        display: flex;
        flex-flow: column wrap;
    }
}

@media (max-width:389px) {
    #deliveryman{
        display: none;
    }
}

